
/venv
Info.txt
CollectData/Codigos/.ipynb_checkpoints/conleta_dados_basica-checkpoint.ipynb
CollectData/Codigos/.ipynb_checkpoints/gerar_dados-checkpoint.ipynb
/CollectData/Codigos/.ipynb_checkpoints
